body{
    max-width: 1440px;

    margin: 0 auto;
    background-color: rgb(227, 244, 255);
}

.navbar-banner{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url(/Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}
.navbar{
   
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 25px;
}

.banner{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    
}
.action{
    max-width: 1140px;
    height: 328px;
    margin: 0 auto;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    padding: 50px;
   

}
.productive{
    max-width: 1140px;
    height: 306px;
    margin: 0 auto;
    border-radius: 15px;
    background-color: rgb(168, 168, 241);
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 50px;
}
.join{
    display: flex;
    flex-direction:row;
}
.jp{
    padding: 40px;
}
.jp p{
    color: blue;
    font-size:xx-large;
    font-weight: bold;

}
.user-feedback{
    max-width: 1140px;
    height: 342px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    padding: 50px;
}
.feedback {
  max-width: 1140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  gap: 20px;
  
}

.f-data {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 366px;
  text-align: center;
  
}

.ex{
    max-width: 1140px;
    height: 696px;
    margin: 0 auto;
    border-radius: 10px;
    background-color:white;
    text-align: center;
    padding: 25px;
}
.touch{
    max-width: 1140px;
    height: 632px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;
    padding: 25px;
    
}
.footer{
    background-color: white;
    max-width: 1440px;
    margin: 0 0;
    
    display: flex;
    flex-direction: column;
    text-align: center;
}
.te-bt{
    display: flex;
   justify-content: center;
    
}
.bt{
    padding: 30px;
}

.im1{
    border-radius: 25px;
}
.f-h{
    font-weight:bold;
    font-size: 97px;
}
.touch input[type="email"],input[type="text"]{
    height: 30px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin-top: 24px;
    border:none;
}
.btn{
    background-color: blue;
    color: white;
    border-radius: 5px;
    padding: 10px;
}

.i-fl{
    display: flex;
    
.i-f2{
    border-radius: 50px;
    
}
.d-tex{
    padding-left: 20px;
    text-align: left;
}